Checks:
  # --- Will almost certainly never change ---
  - '*'                                                   # Start by allowing everything
  - '-llvmlibc-restrict-system-libc-headers'              # Allow system headers
  - '-llvmlibc-implementation-in-namespace'               # This is not a llvmlibc project
  - '-llvmlibc-callee-namespace'                          # This is not a llvmlibc project
  - '-llvmlibc-inline-function-decl'                      # This is not a llvmlibc project
  - '-altera-id-dependent-backward-branch'                # This is not necessary for this project
  - '-cppcoreguidelines-pro-bounds-constant-array-index'  # [] in favor of .at() is required for speedup throughout this project
  - '-modernize-use-trailing-return-type'                 # I don't like trailing return types
  - '-boost-use-ranges'                                   # This project does not use boost

  # --- Might change one day ---
  - '-altera-unroll-loops'                                        # Performance boost not really needed, may be worth investigating some day
  - '-google-readability-todo'                                    # No need for specific bug tracking in this project
  - '-fuchsia-default-arguments-calls'                            # This project allows default argument calls
  - '-misc-use-internal-linkage'                                  # Not really necessary for this project
  - '-fuchsia-overloaded-operator'                                # Operator overloading is fine and makes sense in some parts of this project
  - '-misc-non-private-member-variables-in-classes'               # Private member variables is fine for this program; may re-evaluate in the future
  - '-cppcoreguidelines-non-private-member-variables-in-classes'  # Same as above ^
  - '-readability-use-std-min-max'                                # I find std::min / ::max less readable, especially in the logic of Engine::

  # --- Should change one day ---
  - '-readability-function-cognitive-complexity'  # Ideally functions should be simpler, but this is too much work right now
  - '-bugprone-easily-swappable-parameters'       # This is true, but too much work right now
  - '-modernize-use-nodiscard'                    # Good practice, too much work right now
  - '-bugprone-narrowing-conversions'             # Most narrowing conversions in this project are x,y coordinates -> squares, which can tolerate some conversion loss
  - '-cppcoreguidelines-narrowing-conversions'    # Same as above ^
  - '-hicpp-signed-bitwise'                       # This is a fine rule but my environment won't respect IgnorePositiveIntegerLiterals: true

WarningsAsErrors: 'modernize-*'  # VSCode shows this as deprecated; enabling error makes them more visible in the IDE